*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
}

ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

/* 
Lógica de Alturas com calc()
*/
section {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
